@mixin line-text($width:0){
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        height: 5px;
        @if $width != 0 {
            width: $width;
        }
    }
}