@use './custom.scss';
@use './font.scss';

:root{
    --font-size-base :0.8rem;
    --trastion-base: .15s ease-in-out;
    --transition-one : 0.5s ease-in-out;
    --transition-two : 0.3s ease-in-out;
}
.truncate{
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-inline-box;
}

ul {
    list-style: none;
    margin: auto;
    padding: 0;
}

%activeLink {
    transform-origin: 0% 100%;
    transform: scale3d(1, 1, 1);
}


a{
    text-decoration: none;

    &.link--metis {
        position: relative;
        transition: color var(--trastion-base);
        -webkit-transition: color var(--trastion-base);
        -moz-transition: color var(--trastion-base);
        @at-root &::before {
            content: '';
            width: 100%;
            position: absolute;
            height: 4px;
            bottom: -5px;
            left: 0;
            transform-origin: 0% 0%;
            transform: scale3d(1, 0, 1);
            transition: transform var(--transition-two);
            -webkit-transition: transform var(--transition-two);
            -moz-transition: transform var(--transition-two);
        }
        @at-root &:hover::before{
            @extend %activeLink;
            
        }
        
        
    }
    &.link--metis.link--active {
        @at-root &::before{
            @extend %activeLink;
        }
     }


}
.line-text{
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: -7px;
        height: 5px;
        width: 2.5rem;
    }
}

a[role=button] {
    border-radius: .3125rem;
    text-align: center;
}

.absoluteimage {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.vh-40 {
    height: 40vh;
}
.z1{
    z-index: 1;
}
.opacity5 {
    opacity: 0.5;
}