%y {
    top: 0;
    bottom: 0;
}
%h{
    @extend %y;
    height: -webkit-fill-available;
}
.about {
    .img-right {
        left: 0;
        @extend %y;
    }
    @at-root.img-about {
        @extend %h;
    }
}
.vision {
    .img-left {
        right: 0;
        @extend %y;
    }
}

.vision, .about {
    mark {
        background-color: transparent;
        color: inherit;
    }
}
.img-right, .img-left {
    .img-about {
        opacity: 0.5;
    }
}