
%absoluteImage {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.miniheader{
    height: 35vh;
    color: var(--bs-light);
    .miniheader__image {
        @extend %absoluteImage;
    }
    .text {
        z-index: 2;
    }
    .line-text::before{
        background-color: var(--bs-light);
    }
}
